{% extends 'base.html' %}
{% block profession %}
<h1>Мои кумиры</h1>
            <div id="carousel" class="carousel slide" data-ride="carousel" style="width: 800px">
                <div class="carousel-inner">
                    {% for image in images %}
                        {% if loop.first %}
                            {% set className = 'active'%}
                        {% else %}
                            {% set className = 'not_active' %}
                        {% endif %}
                        <div class="{{'carousel-item ' + className}}">
                            <img class="d-block w-100" src="{{ url_for('static', filename='img/carousel_img/'+ image) }}" alt="">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev" style="color: green;background-color: gray">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Назад</span>
                </a>
                <a class="carousel-control-next" href="#carousel"  style="color: green;background-color: gray" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only" >Вперёд</span>
                </a>
            </div>
            <h1>Загрузим файл</h1>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="photo">Выберите файл</label>
                    <input type="file" class="form-control-file" id="photo" name="file">
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
{% endblock %}
